<div class="row">
    <div class="col-lg-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title text-center">Basic</h5>
          <div class="text-center">2.95$/provider/month</div>
          <div class="text-center">2.95$/provider/month</div>

          <div class="card-text">Create a practice StoreFint.</div>
          <div class="card-text">Create a practice StoreFint.</div>
        </div>
        <div class="card-footer text-center"                                                                                               >
          <div class="text-center"><input type="radio" class="center-block" name="optradio"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title text-center">Basic</h5>
          <div class="text-center">2.95$/provider/month</div>
          <div class="text-center">2.95$/provider/month</div>

          <div class="card-text">Create a practice StoreFint.</div>
          <div class="card-text">Create a practice StoreFint.</div>
          <div class="card-text">Create a practice StoreFint.</div>
          <div class="card-text">Create a practice StoreFint.</div>
        </div>
        <div class="card-footer text-center"                                                                                               >
          <div class="text-center"><input type="radio" class="center-block" name="optradio"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title text-center">Basic</h5>
          <div class="text-center">2.95$/provider/month</div>
          <div class="text-center">2.95$/provider/month</div>

          <div class="card-text">Create a practice StoreFint.</div>
          <div class="card-text">Create a practice StoreFint.</div>
          <div class="card-text">Create a practice StoreFint.</div>
          <div class="card-text">Create a practice StoreFint.</div>
          <div class="card-text">Create a practice StoreFint.</div>
          <div class="card-text">Create a practice StoreFint.</div>
        </div>
        <div class="card-footer text-center"                                                                                               >
          <div class="text-center"><input type="radio" class="center-block" name="optradio"></div>
        </div>
      </div>
    </div>
  </div>
  